<div #swiperRef="" class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="assets/swipper3/burguer.png" alt="">
        </div>
        <div class="swiper-slide">
            <img src="assets/swipper3/pizza.png" alt="">
        </div>
        <div class="swiper-slide">
            <img src="assets/swipper3/sushi.png" alt="">
        </div>
        <div class="swiper-slide">
            <img src="assets/swipper3/ramen.png" alt="">
        </div>
        <div class="swiper-slide">
            <img src="assets/swipper3/pollo.png" alt="">
        </div>
        <div class="swiper-slide">
            <img src="assets/swipper3/tacos.png" alt="">
        </div>
        <div class="swiper-slide">
            <img src="assets/swipper3/milanesa.png" alt="">
        </div>
        <div class="swiper-slide">
            <img src="assets/swipper3/steak.png" alt="">
        </div>
        <div class="swiper-slide">
            <img src="assets/swipper3/bbq.png" alt="">
        </div>
        <div class="swiper-slide">
            <img src="assets/swipper3/salad.png" alt="">
        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>

<div class="container">
    
</div>